@page "/OtherOrg"

<PageTitle>其他组织 - 西建大iOS Club</PageTitle>

<Breadcrumb Style="margin-bottom: 10px" Class="desktop-phone">
    <BreadcrumbItem>
        <a href="/About">社团简介</a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a href="/OtherOrg">其他组织</a>
    </BreadcrumbItem>
</Breadcrumb>

<GridRow>
    <GridCol Xs="24" Sm="24" Md="20" Lg="20" Xl="20" Xxl="20">
        <div id="other">
            <h2>其他组织</h2>
            <p>iOS Club除了iOS Club，还许多分社团和挂靠组织。同时也和校内外许多社团和组织有许多交流。</p>
        </div>

        <div id="xiaomi">
            <GridRow Gutter="24">
                <GridCol Xs="24" Sm="24" Md="24" Lg="16" Xl="16" Xxl="16">
                    <h2>米粉俱乐部</h2>
                    <p>欢迎来到西建大米粉俱乐部——一个充满创新和科技热情的社区！我们是由小米公司在西安建筑科技大学创办的科技类俱乐部。这里，我们共同探索科技的无限可能，分享智能生活的每一个精彩瞬间。</p>
                    <p>作为米粉俱乐部的一员，你将有机会参与到最前沿的科技讨论，体验最新的小米产品，甚至参与产品测试和反馈。我们的活动涵盖了科技讲座、工作坊、创新竞赛等多种形式，旨在激发每一位成员的创造力和潜能。</p>
                    <p>我们诚挚邀请每一位对科技充满热情的朋友加入我们的大家庭。无论你是科技爱好者，还是寻求创新灵感的学者，西建大米粉俱乐部都是你理想的归宿。在这里，你可以与志同道合的伙伴交流思想，共同成长。</p>
                    <p>加入我们，一起在科技的道路上，启航新征程！我们期待着你的加入，一起创造属于我们的未来。立即联系我们，开启你的米粉之旅吧</p>
                </GridCol>
                <GridCol Xs="24" Sm="24" Md="24" Lg="8" Xl="8" Xxl="8">
                    <Image Width="200px" PreviewVisible="false"
                           OnClick="@(() => { visible = true; })" Src="/other/xiaomi.jpg"/>
                </GridCol>
            </GridRow>
        </div>
        <Divider/>
        <div id="huawei">
            <GridRow Gutter="24">
                <GridCol Xs="24" Sm="24" Md="24" Lg="16" Xl="16" Xxl="16">
                    <h2>花粉俱乐部</h2>
                    <p>欢迎来到西建大花粉俱乐部! 我们是由华为公司在西安建筑科技大学创办的科技类俱乐部。这里，我们共同探索科技的无限可能，分享智能生活的每一个精彩瞬间。</p>
                    <p>我们诚挚邀请每一位对科技充满热情的朋友加入我们的大家庭。无论你是科技爱好者，还是寻求创新灵感的学者，西建大花粉俱乐部都是你理想的归宿。在这里，你可以与志同道合的伙伴交流思想，共同成长。</p>
                    <p>加入我们，一起在科技的道路上，启航新征程！我们期待着你的加入，一起创造属于我们的未来。立即联系我们，开启你的花粉之旅吧</p>
                </GridCol>
                <GridCol Xs="24" Sm="24" Md="24" Lg="8" Xl="8" Xxl="8">
                    <Image Width="200px" PreviewVisible="false"
                           OnClick="@(() => { visible = true; })" Src="/other/huawei.jpg"/>
                </GridCol>
            </GridRow>
        </div>
        <Divider/>
        <div id="aircraft">
            <GridRow Gutter="24">
                <GridCol Xs="24" Sm="24" Md="24" Lg="16" Xl="16" Xxl="16">
                    <h2>航模社</h2>
                    <p>航模社是一个充满激情与创新精神的学生社团，致力于航空模型和无人机的设计、制作与飞行。航模社不仅为学生提供了一个展示自己技术和创意的平台，还培养了团队合作和解决问题的能力。</p>
                    <p>加入我们</p>
                    <p>如果你对航空模型感兴趣，欢迎加入西安建筑科技大学航模社。无论你是新手还是有经验的模型爱好者，这里都有适合你的活动和项目。让我们一起在蓝天中翱翔，探索航空科技的无限可能！</p>
                </GridCol>
                <GridCol Xs="24" Sm="24" Md="24" Lg="8" Xl="8" Xxl="8">
                    <Image Width="200px" PreviewVisible="false"
                           OnClick="@(() => { visible = true; })" Src="/other/aircraft.jpg"/>
                </GridCol>
            </GridRow>
        </div>
        <Divider/>
        <div id="SpecialEffects">
            <GridRow Gutter="24">
                <GridCol Xs="24" Sm="24" Md="24" Lg="16" Xl="16" Xxl="16">
                    <h2>仙建特摄同好群</h2>
                    <p>🌟 特摄爱好者的集结号！</p>
                    <p>我们是一个专注于特摄艺术的校园社团，隶属于iOS摄影部。特摄，即特殊摄影，是一种结合了模型、特效、动作捕捉等技术的电影拍摄手法，创造出令人惊叹的视觉效果。有名的特摄作品有假面骑士、超级战队、奥特曼以及各类型的特效变身类作品</p>
                    <p>📱 iOS Club 附属社团 📱</p>
                    <p>作为iOS摄影部的附属社团，我们不仅追求摄影的纯粹艺术，更致力于探索特摄的无限可能。在这里，你可以学习到如何将现实与想象完美结合，创造出属于自己的奇幻世界。</p>
                    <p>🎥 特摄的魅力 🎥</p>
                    <p>特摄不仅仅是电影制作的一部分，它是一种文化，一种艺术形式，更是一种对生活的热爱和对梦想的追求。我们相信，每个人都能通过特摄表达自己独特的视角和创意。</p>
                    <p>🔗 加入我们 🔗</p>
                    <p>无论你是特摄的狂热粉丝，还是对特效摄影充满好奇的新手，这里都是你展示才华、交流心得、共同进步的平台。加入我们，一起探索特摄的奥秘，用你充满童心的热情和真挚的热爱来推动社团的发展。</p>
                </GridCol>
                <GridCol Xs="24" Sm="24" Md="24" Lg="8" Xl="8" Xxl="8">
                    <Image Width="200px" PreviewVisible="false"
                           OnClick="@(() => { visible = true; })" Src="/other/teshe.jpg"/>
                </GridCol>
            </GridRow>
        </div>
        <Divider/>
        <div id="off-campus">
            <h4>校内外兄弟组织</h4>
            <ul style="font-size: 16px;">
                <li style="margin-bottom: 10px">
                    <AppleLink Url="https://skin.xauatcraft.com/">西建大仙建协会【MC社】</AppleLink>
                </li>
                <li style="margin-bottom: 10px">
                    <AppleLink Url="https://www.xiyoulinux.com/">西安邮电大学Linux兴趣小组</AppleLink>
                </li>
                <li style="margin-bottom: 10px">
                    <AppleLink Url="https://cop.cooo.site/">西安邮电大学MC兴趣交流团体【邮立方】</AppleLink>
                </li>
            </ul>
        </div>
    </GridCol>
    <GridCol Lg="4" Xl="4" Xxl="4" Class="desktop-phone">
        <Affix>
            <Anchor>
                <AnchorLink Href="/OtherOrg#other" Title="其他组织"/>
                <AnchorLink Href="/OtherOrg#xiaomi" Title="米粉俱乐部"/>
                <AnchorLink Href="/OtherOrg#huawei" Title="花粉俱乐部"/>
                <AnchorLink Href="/OtherOrg#aircraft" Title="航模社"/>
                <AnchorLink Href="/OtherOrg#SpecialEffects" Title="仙建特摄同好群"/>
                <AnchorLink Href="/OtherOrg#off-campus" Title="校外组织"/>
            </Anchor>
        </Affix>
    </GridCol>
</GridRow>

<div style="display:none;">
    <ImagePreviewGroup @bind-PreviewVisible="visible">
        <Image Src="/other/xiaomi.jpg"/>
        <Image Src="/other/huawei.jpg"/>
        <Image Src="/other/aircraft.jpg"/>
        <Image Src="/other/teshe.jpg"/>
    </ImagePreviewGroup>
</div>

@code {
    bool visible;
}

<style>
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    h1{
        font-size: 24px;
    }

    h2{
        font-size: 22px;
    }

    h3{
        font-size: 20px;
    }

    h4{
        font-size: 18px;
    }

    h5,h6{
        font-size: 16px;
    }

    @@media (max-width: 768px) {
        h1{
            display: none;
        }
        h2{
            text-align: center;
            line-height: 1.75;
            font-family: -apple-system-font, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
            font-size: 18px;
            display: table;
            padding: 0.3em 1em;
            margin: 1.5em auto 1.5em;
            color: #fff;
            background: #0F4C81;
            font-weight: bold;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        h3{
            --md-primary-color: #0F4C81;
            text-align: left;
            line-height: 1.2;
            font-family: -apple-system-font, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
            font-size: 16px;
            padding-left: 12px;
            border-left: 4px solid #0F4C81;
            margin: 2em 8px 0.75em 0;
            color: hsl(0 0% 3.9%);
            font-weight: bold;
            border-bottom: none;
        }
        ol, ul, menu {
            padding: .5em;
        }
        strong{
            color: #0F4C81;
        }
        li{
            margin: 0.5em 8px;
        }
        p{
            margin: 1.5em 8px;
        }
    }
</style>