@page "/OtherOrg"

<PageTitle>其他组织 - 西建大iOS Club</PageTitle>

<Breadcrumb Style="margin-bottom: 10px" Class="desktop-phone">
    <BreadcrumbItem>
        <a href="/About">社团简介</a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a href="/OtherOrg">其他组织</a>
    </BreadcrumbItem>
</Breadcrumb>

<GridRow>
    <GridCol Xs="24" Sm="24" Md="20" Lg="20" Xl="20" Xxl="20">
        <div id="other">
            <h2>其他组织</h2>
            <p>
                iOS Club是一个包容性非常强的社团，我们欢迎所有对数码技术和编写程序感兴趣的成员加入
            </p>
        </div>

        <div id="xiaomi">
            <GridRow Gutter="24">
                <GridCol Xs="24" Sm="24" Md="24" Lg="16" Xl="16" Xxl="16">
                    <h2>米粉俱乐部</h2>
                    <p>欢迎来到西建大米粉俱乐部——一个充满创新和科技热情的社区！我们是由小米公司在西安建筑科技大学创办的科技类俱乐部。这里，我们共同探索科技的无限可能，分享智能生活的每一个精彩瞬间。</p>
                    <p>作为米粉俱乐部的一员，你将有机会参与到最前沿的科技讨论，体验最新的小米产品，甚至参与产品测试和反馈。我们的活动涵盖了科技讲座、工作坊、创新竞赛等多种形式，旨在激发每一位成员的创造力和潜能。</p>
                    <p>我们诚挚邀请每一位对科技充满热情的朋友加入我们的大家庭。无论你是科技爱好者，还是寻求创新灵感的学者，西建大米粉俱乐部都是你理想的归宿。在这里，你可以与志同道合的伙伴交流思想，共同成长。</p>
                    <p>加入我们，一起在科技的道路上，启航新征程！我们期待着你的加入，一起创造属于我们的未来。立即联系我们，开启你的米粉之旅吧</p>
                </GridCol>
                <GridCol Xs="24" Sm="24" Md="24" Lg="8" Xl="8" Xxl="8">
                    <Image Width="200px" Src="/other/xiaomi.jpg"/>
                </GridCol>
            </GridRow>
        </div>
        <Divider/>
        <div id="huawei">
            <GridRow Gutter="24">
                <GridCol Xs="24" Sm="24" Md="24" Lg="16" Xl="16" Xxl="16">
                    <h2>花粉俱乐部</h2>
                    <p>欢迎来到西建大花粉俱乐部! 我们是由华为公司在西安建筑科技大学创办的科技类俱乐部。这里，我们共同探索科技的无限可能，分享智能生活的每一个精彩瞬间。</p>
                    <p>我们诚挚邀请每一位对科技充满热情的朋友加入我们的大家庭。无论你是科技爱好者，还是寻求创新灵感的学者，西建大花粉俱乐部都是你理想的归宿。在这里，你可以与志同道合的伙伴交流思想，共同成长。</p>
                    <p>加入我们，一起在科技的道路上，启航新征程！我们期待着你的加入，一起创造属于我们的未来。立即联系我们，开启你的花粉之旅吧</p>
                </GridCol>
                <GridCol Xs="24" Sm="24" Md="24" Lg="8" Xl="8" Xxl="8">
                    <Image Width="200px" Src="/other/huawei.jpg"/>
                </GridCol>
            </GridRow>
        </div>
        <Divider/>
        <div id="aircraft">
            <GridRow Gutter="24">
                <GridCol Xs="24" Sm="24" Md="24" Lg="16" Xl="16" Xxl="16">
                    <h2>航模社</h2>
                </GridCol>
                <GridCol Xs="24" Sm="24" Md="24" Lg="8" Xl="8" Xxl="8">
                    <Image Width="200px" Src="/other/aircraft.jpg"/>
                </GridCol>
            </GridRow>
        </div>
        <Divider/>
        <div id="off-campus">
            <h4>校外兄弟组织</h4>
            <ul style="font-size: 16px;">
                <li style="margin-bottom: 10px">
                    <a href="https://xiyoulinux.com/">西安邮电大学Linux兴趣小组</a>
                </li>
                <li>
                    <a href="https://jluios.club/">吉林大学iOS Club</a>
                </li>
            </ul>
        </div>
        <div style="height: 60vh"></div>
    </GridCol>
    <GridCol Lg="4" Xl="4" Xxl="4" Class="desktop-phone">
        <Affix>
            <Anchor>
                <AnchorLink Href="/OtherOrg#other" Title="其他组织"/>
                <AnchorLink Href="/OtherOrg#xiaomi" Title="米粉俱乐部"/>
                <AnchorLink Href="/OtherOrg#huawei" Title="花粉俱乐部"/>
                <AnchorLink Href="/OtherOrg#aircraft" Title="航模社"/>
                <AnchorLink Href="/OtherOrg#off-campus" Title="校外组织"/>
            </Anchor>
        </Affix>
    </GridCol>
</GridRow>

@code {
    
}