@page "/Structure"

<PageTitle>社团结构 - 西建大iOS Club</PageTitle>

<Breadcrumb Style="margin-bottom: 10px" Class="desktop-phone">
    <BreadcrumbItem>
        <a href="/About">社团简介</a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a href="/Structure">社团结构</a>
    </BreadcrumbItem>
</Breadcrumb>

<GridRow>
    <GridCol Xs="24" Sm="24" Md="20" Lg="20" Xl="20" Xxl="20">
        <div id="社团结构">
            <h2>社团结构</h2>
            <p>
                西安建筑科技大学iOS Club是一个致力于iOS应用开发和设计的学生组织。本社团旨在为对iOS平台感兴趣的学生提供一个交流和学习的平台，同时也为那些希望在未来从事相关工作的学生提供实践机会。西建大iOS Club由社长、副社长、社团科技部、社团交流实践部、社团新媒体部组成。
            </p>
            <div id="社团负责人">
                <h2>社团负责人</h2>
                <p>
                    负责领导和管理整个社团
                </p>
            </div>
            <div id="科技部">
                <h2>科技部</h2>
                <p>
                    感受软件开发的魅力
                </p>
            </div>
            <div id="交流实践部">
                <h2>交流实践部</h2>
                <p>
                    组织各种活动并参与其中
                </p>
            </div>
            <div id="新媒体部">
                <h2>新媒体部</h2>
                <p>
                    分享社团的点滴
                </p>
            </div>
        </div>
    </GridCol>
    <GridCol Lg="4" Xl="4" Xxl="4" Class="desktop-phone">
        <Affix>
            <Anchor >
                <AnchorLink Href="/Structure#社团结构" Title="社团结构"/>
                <AnchorLink Href="/Structure#社团负责人" Title="社团负责人"/>
                <AnchorLink Href="/Structure#科技部" Title="科技部"/>
                <AnchorLink Href="/Structure#交流实践部" Title="交流实践部"/>
                <AnchorLink Href="/Structure#新媒体部" Title="新媒体部"/>
            </Anchor>
        </Affix>
    </GridCol>
</GridRow>