@using AntDesign.Charts
@using iOSClub.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<iOSContext> Factory

<div class="Report-Animation">
    <AntDesign.Charts.Line Data="_reportedMembers" Config="config2"/>
</div>

@code {

    readonly List<object> _reportedMembers = [];

    readonly LineConfig config2 = new()
    {
        Padding = "auto",
        XField = "year",
        YField = "value",
        Smooth = true,
        YAxis = new ValueAxis
        {
            Nice = true
        },
        Label = new Label
        {
            Visible = false
        }
    };
    
    protected override async Task OnInitializedAsync()
    {
        await using var context = await Factory.CreateDbContextAsync();
        var stu = await context.Students.ToListAsync();
        
        _reportedMembers.AddRange([new {year = "2021",value = 231},new {year = "2022",value = 429}]);
        var year = DateTime.Today.Year;
        for (var i = year - 2024; i >= 0 ; i--)
        {
            _reportedMembers.Add(new {year = year - i, value = stu.Count(s => 
                DateTime.Parse(s.JoinTime) < DateTime.Parse($"{year - i}-09-01"))});
        }
    }
}