@if (!string.IsNullOrEmpty(Url))
{
    <a class="apple-link" href="@Url" target="_blank">
        @ChildContent
        @if (IsIcon)
        {
            <Icon Type="link" Theme="outline"/>
        }
    </a>
}
else
{
    <a class="apple-link" @onclick="OnClick">
        @ChildContent
        @if (IsIcon)
        {
            <Icon Type="link" Theme="outline"/>
        }
    </a>
}

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter] public string? Url { get; set; }
    [Parameter] public bool IsIcon { get; set; } = true;
}