@layout CentreLayout
@using iOSClub.WebSite.Models
@inherits LayoutComponentBase

<GridRow Style="overflow: hidden;background-color: #f3f5f7;">
    <GridCol Md="4" Lg="4" Xl="4" Xxl="4" Class="desktop-phone">
        <CentreMenu State="@Member.Identity"/>
    </GridCol>
    <GridCol Class="layout-context" Xs="24" Sm="24" Md="20" Lg="20" Xl="20" Xxl="20">
        <div style="overflow: auto;">
            @Body
        </div>
    </GridCol>
</GridRow>

@code
{
    [CascadingParameter] private MemberModel Member { get; set; } = new();
}

<style>

    body {
        height: 100% !important;
    }

    .layout-context {
        background-color: #f3f5f7;
        padding: 24px 16px 0;
    }
    
    @@media screen and (max-width: 768px) {
        .layout-context {
            padding: 0;
        }
    }

    .ant-modal-header {
        border-radius: 12px 12px 0 0;
    }
    
    .ant-modal-body {
        border-radius: 0 0 12px 12px;
    }
    
    .ant-modal-content {
        border-radius: 12px !important;
    }
</style>