@layout CentreLayout
@using iOSClub.WebSite.Models
@inherits LayoutComponentBase

<CentreMenu Style="overflow: auto;height: 100vh;width:200px;position: fixed;left: 0;" State="@Member.Identity"/>
<div class="layout-context">
    @Body
</div>
@* <GridRow Style=""> *@
@*     <GridCol Style="" Class="desktop-phone"> *@
@*          *@
@*     </GridCol> *@
@*     <GridCol Class="layout-context" Xs="24" Sm="24" Md="20" Lg="20" Xl="20" Xxl="20"> *@
@*          *@
@*     </GridCol> *@
@* </GridRow> *@

@code
{
    [CascadingParameter] private MemberModel Member { get; set; } = new();
}

<style>

    body {
        height: 100% !important;
    }

    .layout-context {
        background-color: #f3f5f7;
        padding: 24px 16px;
        margin-left: 200px
    }
    
    .Layout-Header{
        height: 64px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 3;
    }
    
    .Layout-Context{
        margin-top: 64px;
        background-color: #f3f5f7;
    }
    
    @@media screen and (max-width: 768px) {
        .layout-context {
            padding: 0;
        }
    }

    .ant-modal-header {
        border-radius: 12px 12px 0 0;
    }
    
    .ant-modal-body {
        border-radius: 0 0 12px 12px;
    }
    
    .ant-modal-content {
        border-radius: 12px !important;
    }
</style>