@layout CentreLayout
@using iOSClub.WebSite.Client.Models
@inherits LayoutComponentBase

<CentreMenu Class="layout-sider" State="@Member.Identity"/>
<div class="layout-context">
    @Body
</div>

@code
{
    [CascadingParameter] private MemberModel Member { get; set; } = new();
}

<style>

    body {
        height: 100% !important;
    }

    .layout-context {
        background-color: #f3f5f7;
        padding: 24px 16px;
        margin-left: 230px
    }
    
    .layout-sider{
        overflow: auto;
        height: calc(100vh - 64px);
        width:230px;
        position: fixed;
        left: 0;
        padding-top: 10px;
    }
    
    .Layout-Header{
        height: 64px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 3;
    }
    
    .Layout-Context{
        margin-top: 64px;
        background-color: #f3f5f7;
    }
    
    @@media screen and (max-width: 768px) {
        .layout-context {
            padding: 0;
            margin-left: 0;
        }
        .layout-sider {
            display: none;
        }
    }

    .ant-modal-header {
        border-radius: 12px 12px 0 0;
    }
    
    .ant-modal-body {
        border-radius: 0 0 12px 12px;
    }
    
    .ant-modal-content {
        border-radius: 12px !important;
    }
</style>