@page "/YearProj"

<br/>
<div style="text-align: center;">
    <Image Preview="false" Style="width: 40%;" Src="/Centre/year.png"/>
    <Flex Align="center" Justify="center">
        <div class="gradient-text">年度项目</div>
    </Flex>
    <Paragraph Style="font-size: 22px" Strong Type="secondary">敬请期待</Paragraph>
</div>