@page "/Design/FridgeMagnets"

<Flex Justify="center" Align="center" Style="height: 100vh;width: 100vw">
    <div class="fridge-magnets">
        
    </div>
</Flex>

<style>
    .fridge-magnets {
        background-image: linear-gradient(to bottom right, #ff6b6b, #7171ae, #10bce7);
        padding: 20px;
        border-radius: 20px;
        height: 400px;
        width: 800px;
    }
</style>