@page "/Learn"
<PageTitle>iOS Learn - 西建大iOS Club</PageTitle>

<div style="text-align: center;">
    <Image Preview="false" Style="width: 40%;" Src="/Centre/Learn.png"/>
    <Flex Align="center" Justify="center">
        <div class="gradient-text">iOS Learn</div>
    </Flex>
    <Paragraph Style="font-size: 22px" Strong Type="secondary">Stay Curious</Paragraph>
</div>

<Flex Justify="center" Align="center">
    <GridRow Class="block" Gutter="(20, 24)">
        @foreach (var item in Cards)
        {
            <GridCol Xs="24" Sm="24" Md="12" Lg="12" Xl="12" Xxl="12">
                <a href="@item.Url" target="_blank">
                    <Card Hoverable Class="card" Bordered="false">
                        <h1 style="margin-top: 10px;margin-bottom: 10px;">@item.Title</h1>
                        <Paragraph Type="secondary">@item.Content</Paragraph>
                    </Card>
                </a>
            </GridCol>
        }
    </GridRow>
</Flex>

@code
{
    private record CardModel(string Title, string Content, string Url);

    private static CardModel[] Cards =>
    [
        new CardModel("iOS Club和你一起学C#", "C#是一门面对对象的语言，我们一起来学习吧",
            "/Series/CSharp"),
        new CardModel("iOS Club和你一起学Vue", "现在，我们可以一起学习Vue了。Vue是一个前端框架，我们可以使用Vue来进行Web开发",
            "/Series/Vue")
    ];
}

<style>
    .block{
        width: 80%;
        margin-top: 45px;
        margin-bottom: 45px;
    }
    .card {
        margin: 10px;
        height: 200px;
        max-width: 100%;
        border-radius: 10px;
        background: #ffffff;
    }
</style>