@if (!string.IsNullOrEmpty(Url))
{
    <a class="a" href="@Url" target="_blank">
        @ChildContent
        <Icon Type="link" Theme="outline"/>
    </a>
}
else
{
    <a class="a" @onclick="OnClick">
        @ChildContent
        <Icon Type="link" Theme="outline"/>
    </a>
}

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter] public string? Url { get; set; }
}

<style>
    .a {
        color: #0066dd;
        transition: .2s;
        text-decoration: none;
        background: linear-gradient(#07f2,#07f2) no-repeat center bottom / 100% 0;
    }

    .a:hover{
        color: #0066dd;
        background: linear-gradient(#07f2,#07f2) no-repeat center bottom / 100% 100%;
        border-radius: .2em;
    }
</style>