<div id="@Id" style="@Style" class="apple-card @Class @(FrostedGlass ? "FrostedGlass" : "")">
    @if (TitleTemplate != null)
    {
        <div class="apple-card-header">
            @TitleTemplate
        </div>
    }
    <div class="apple-card-context">
        @ContextTemplate
    </div>
</div>

@code {
    [Parameter] public RenderFragment? TitleTemplate { get; set; }
    [Parameter] public RenderFragment? ContextTemplate { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public string? Style { get; set; }
    [Parameter] public string? Id { get; set; }
    [Parameter] public bool FrostedGlass { get; set; }
}